.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.h1 {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 5rem;
}

.formLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.formInput {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
}

.formForgot {
  margin-top: 0.2rem;
  color: #a3a3a3;
  text-decoration: none;
  font-size: 0.8rem;
  margin-left: auto;
}

.formSubmit {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  background-color: #60d164;
  color: #fff;
  font-size: 1rem;
}

.formButton:hover {
  background-color: #327a35;
}

.formLogin {
  color: #0077cc;
  text-decoration: none;
  font-size: 1.5rem;
}

.formForgot:hover,
.formLogin:hover {
  text-decoration: underline;
}
