.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backspace {
  position: absolute;
  left: 100px;
  top: 30px;
  font-size: 3rem;
  color: #48e9e9;
}

.h1 {
  font-size: 2.5rem;
}

.h2 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.submit {
  margin-top: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #60d164;
  color: #fff;
  font-size: 1.25rem;
}
